@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: jost;
}

header{
background-color: #FF7F99;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo{
    width: 180px;
}

.contact{
   color:white;
   font-size: 20px;
   background-color: #ff9593;
   border: 1px solid #ffCA41;
   border-radius: 35px;
   padding: 8px 30px;
   margin-left: -10px;
}

.contact:hover{
    background-color: #FFCA41;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 450px;
    height: 450px;
    border-radius: 250px 0px 250px 250px;
    background-color: #FF7F99;
    margin: 30px 120px 30px 80px;
}

.coders{
    width: 490px;
    height: 490px;
    border-radius: 250px;
    object-fit:cover;  
    
}

.main-text{
    margin-right: 50px;
    font-weight: bold;
}

h1{
    font-size: 75px;
    line-height: 60px;
    color:#D06077;
    width: 50%;
}

h3{ 
    font-size:21px;
    margin: 10px 0px;
}

.callyou{
    
    padding: 10px 40px;
    background-color: #FFCA41;
    border: #FFCA41;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    margin: 30px 0px;
    float: left;
}

footer{
    background-color: #FF7F99;
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px 20px 70px 20px;
    text-align: center;
}

.profile-image{
    height: 277px;
    width: 277px;
    border-radius: 136px;
    object-fit: cover;
}

.profile-box{
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
h2{
    color: white;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 20px;

}
.subtitle{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.itemlinke{
    float: left;
    margin: 0px -50px 0px -80px;
}

.imglinke{
    margin: 30px 80px; 
    width: 50px;  
}

section{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title2{
    color: #FFCA41;
    font-size: 48px;
    font-weight: lighter;
}

.form{
    background-color: #d9d9d9;
    border-color: 1px solid #2e2e2e;
    margin-bottom: 10px;
    width: 400px;
}

.button-send{
    background-color: #FFCA41;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    margin-top: 10px;
    text-decoration: none;
}

.menu a{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    
}
.mostrar-menu,
.esconder-menu{
    cursor: pointer;
    transition: 0.4s;
    font-size: 30px;
    display: none;
    text-transform: uppercase;
    color: white;
    margin: 0px 50px;
    
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #FFffff;
}

#check{
    display: none;
}

@media (max-width:576px){
.mostrar-menu,
.esconder-menu{
        display: block;
    }

.menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #D06077;
        right: -100%;
        top:0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

.menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
#check:checked ~ .menu{
    right: 0;
}
main {

    flex-wrap: wrap;
    width: 100%;
    top:0;
    text-align: center;
}
.main-text{
 margin: 0px 60px;

}

.callyou {
    margin: 10px 150px;
    padding: 15px;
    align-items: center;
}
  
footer ul{
        display: flex;
        flex-direction: column;
        padding: 0px;   
 }
    
.profile-image {
        align-items: center;
       margin:0px 140px;
}   

h1{
    margin: 10px 50px;
}

.image{
    margin: 10px 50px;
}

}



